
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Memberships Types</h2>
<p>@Html.ActionLink("New Membership", "New", "MembershipTypes",null, new {@class = "btn btn-primary"})</p>

<table id="memberships" class="table table-bordered table-hover" >

    <thead>
        <tr class="success">
            <th>Name</th>
            <th>Duration in Months</th>
            <th>Discont Rate</th>
            <th>SignUp Fee</th>
            <th>Delete</th>

        </tr>
    </thead>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
           var table = $("#memberships").DataTable({

                ajax: {
                    url: "/api/MembershipTypes",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "durationInMonths"
                    },
                    {
                        data: "discountRate"
                    },
                    {
                        data: "signUpFee"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-membership-id=" + data + ">Delete</button>";
                        }
                    }
                ]

            });

			$("#memberships").on("click", ".js-delete", function () {
				var button = $(this);
				bootbox.confirm("Are you sure you want to delete this Membership ?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/membershipTypes/" + button.attr("data-membership-id"),
							method: "DELETE",
							success: function () {
								table.row(button.parents("tr")).remove().draw();
							}
						});
					}
				});

			});


        });

    </script>
    
    
}

