@model Rental_Movie.Models.Rental
@{
	ViewBag.Title = "Rentalform";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Return Date</h2>
@using (Html.BeginForm("Save", "Rentals"))
{
	<div class="form-group">
		@Html.LabelFor(m => m.DateReturned)
		@Html.TextBoxFor(m => m.DateReturned, new { @class = "form-control", @Value = DateTime.Now, @readonly = "readonly" })
	</div>
	@Html.HiddenFor(m => m.Id)
	<button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
}